.lightest-bg { background-color: #d2d2d2; }
.lightest-txt { color: #d2d2d2; }
.middle-bg { background-color: #737373; }
.middle-txt { color: #737373; }
.darkest-bg { background-color: #505050; }
.darkest-txt { color: #505050; }
