* {
  
    box-sizing: border-box;
}

body {
    margin: 2rem;
    background-color:aqua;
}


/*Aqui va el header*/

//Este comentario no es muy util y no se compila

// @import "header.scss";

@mixin x ($color: marron) {
color: maroon;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@mixin centrar($ancho) {
width: $ancho;
margin-left: auto;
margin-right: auto;
}
 */
section {

 h2 {
     @include x (lime);
 }
        
p {
@include x (pink);
font-size: 1.1rem;
}

&:nth-child(2){
 @include centrar ("50%")
}

&:nth-child(3){
@include centrar ("80%")
}
}
        


   