* {
  box-sizing: border-box;
}

body, h1, h2, figure, nav ul, nav li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/*mediaQuery 0:mobile*/

img {
  width: 100%;
  margin-top: 1rem;
}

h1 {
  width: 82%;
  font-size: 1.8rem;
  font-family: 'Encode Sans Semi Expanded', sans-serif;
  color:seagreen;
  margin-left: 1rem;
  float: left;
}

h2 {
  font-family: 'Encode Sans Semi Expanded', sans-serif;
  color:seagreen;
}

.fa-bars:before {
  content: "\f0c9";
  color: darkgrey;
  font-size: 2rem;
  margin-top: 1rem;
}

nav a {
color: inherit;
text-decoration: none;
} 

nav.menu-mobile a {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  display: block;
}

nav.bottom-menu {
  background-color: darkgrey;
  font-size: 0.9rem;
  font-family: 'Encode Sans Semi Expanded', sans-serif;
  color: white;
  margin-left: 1.5rem;
  text-decoration: none;
} 

.main_wrapper {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  font-family: 'Encode Sans Semi Expanded', sans-serif;
  font-size: 0.8rem;
}

main {
  margin-left:1rem;
  margin-top:1rem;
}

nav.flex-container{
  display: none;
}

footer {
  border-top: 1px solid;
  margin-top: 2rem;
  padding-top: 1rem;
  text-align: center;
  font-family: 'Encode Sans Semi Expanded', sans-serif;
  font-size: 0.8rem;
}

@media screen and (min-width: 620px) {
  .main_wrapper {
    width: 80%,
  }

  header {
    margin-bottom:2rem; 
  }

  nav.flex-container{
    display: flex;
    justify-content: center;
  }

  div.flex-container {
    text-decoration: none;
    font-size: 1.2rem; 
    background-color: darkgray;
    width: 100px;
    margin: 10px;
    text-align: center;
} 

.bottom-menu {
    display: none;
}

header nav {
  display: none;
}

/*para que en el formato table o escritorio no se haga el texto muy largo y dificulte la lectura. Se le pone un max-width. Se suele iempre en las ultimas mediaQuerys*/ 

@media screen and (min-width: 820px) {
  .main_wrapper {
    width: 60%;
    max-width: 880px;
    } 
  
  header h1 {
      font-size: 2.5rem;
    }

header nav {
    display: none;
  }

  nav.menu-mobile {
    display: none;
  }

  nav.menu-desk {
    display: block;
    background-color:gray;
    color:white;
    position: absolute;
    right: 0;
    top: 1.2rem;
  }

  nav.menu-desk ul {
    display: flex;
  }

  section h2 {
    padding-left: 1rem;
    margin-left: 1rem;
  }
}
}