* {
  box-sizing: border-box;
}

h1 {
  float: left;
}

.fa-bars:before {
  content: "\f0c9";
}

body, h1, h2, figure, nav ul, nav li {
  margin: 0;
  padding: 0;
}

nav a {
  color: inherit;
  text-decoration: none;
  margin-left: 1rem;
}

nav.menu-mobile a,
nav.menu-desk a {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  display: block;
}

/*mediaQuery 0:mobile*/

h1 {
  width: 75%;
  font-size: 2rem;
  font-family: 'Encode Sans Semi Expanded', sans-serif;
  color:seagreen;
  margin-left: 1rem;
}

h2 {
  font-family: 'Encode Sans Semi Expanded', sans-serif;
  color:seagreen;
}

.main_wrapper {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  font-family: 'Encode Sans Semi Expanded', sans-serif;
  font-size: 0.8rem;
}

main {
  margin-left:1rem;
  margin-top:2rem;
}

img {
  width: 100%;
  margin-top: 1rem;
}

.fa-bars::before {
  color: darkgrey;
  font-size: 2.5rem;
  margin-top: 1rem;
}

header nav {
  font-size: 1.2rem;
  font-family: 'Encode Sans Semi Expanded', sans-serif;
  margin-top: 1rem;
}

nav ul {
  list-style: none;
}
nav a {
  color: inherit;
  text-decoration: none;
}

nav.hide-menu {
  display: none;
}

footer {
  border-top: 1px solid;
  margin-top: 2rem;
  padding-top: 1rem;
  text-align: center;
  font-family: 'Encode Sans Semi Expanded', sans-serif;
  background-color: seagreen;
  color:white;
}

@media screen and (min-width: 620px) {
  .main_wrapper {
    width: 80%,
  }

  header {
    margin-bottom:2rem; 
  }

  header nav {
    font-size: 1.2rem;
  }

/*para que en el formato table o escritorio no se haga el texto muy largo y dificulte la lectura. Se le pone un max-width. Se suele iempre en las ultimas mediaQuerys*/ 

@media screen and (min-width: 820px) {
  .main_wrapper {
    width: 60%;
    max-width: 880px;
    } 
  
  header h1 {
      font-size: 2.5rem;
    }
  }

header nav {
    display: none;
  }

  nav.menu-mobile {
    display: none;
  }

  nav.menu-desk {
    display: block;
    background-color:gray;
    color:white;
    position: absolute;
    right: 0;
    top: 1.2rem;
  }

  nav.menu-desk ul {
    display: flex;
  }

  section h2 {
    padding-left: 1rem;
    margin-left: 1rem;
  } 
    