* {
    box-sizing: border-box;
}


p {
    width: 22%;
    padding: 1.5rem;
    display: inline-block;
 }

 p:nth-child(odd) {background-color:aquamarine;}
 p:nth-child(even) {background-color:bisque}

 section {
     margin-top: 2rem;
     margin-bottom: 2rem;
     background-color: brown;
     border:2px solid;
     overflow: auto;
 }

/*--Otra forma de hacer que no colapse en vez de overflow: auto--
 section::after{
     content:"";
     display: block;
     clear: both;
 }*/

 section.inline-block p {
     display: inline-block;
     vertical-align: middle;
 }

 section.float p {
     float: left;
 }

 .clearfix {
     clear: both;
 }
