@import url('https://fonts.googleapis.com/css?family=Pacifico');
@font-face { font-family: 'Perma';
             src: url('../assets/PermanentMarker-Regular.ttf')};

*,
*::after, *::before,
*:after, *:before {
    box-sizing: border-box;
}

body {
    background-color: bisque;
}

.icono_inicio {
    position: absolute;
    font-size: 3rem;
    padding: 1rem;
    background-color: brown;
    border-radius: 50%;
    color: blue;
    cursor: pointer;
    font-style: italic;
}
.icono_inicio:hover {
    background-color: olive;
    color:tomato;
    font-size: 4rem;
} 

h1 {
    font-family: Perma, cursive;
    font-size: 5rem;
}

h2 {
    font-family: Pacifico, cursive;
}

p {
    font-family: Roboto, Verdana, Arial, sans-serf;
}

